@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-style: italic;
  font-size: 50px;
}

.shd {
  box-shadow:
    0 20px 25px -5px hsla(0, 0%, 100%, 0.1),
    0 8px 10px 0px hsla(0, 0%, 100%, 0.1);
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
}

body {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.linka {
  margin: 0 5px;
  transition: opacity 0.5s ease-in-out;
  transition: text-shadow 0.5s ease-in-out;
  border: 1px solid transparent;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #111,
      0 0 21px #fff;
  }
}
.linka::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 0.5s;
}

.linka:hover::after {
  width: 100%;
}
.custom-btn {
  @apply flex flex-row relative justify-center items-center outline-none;
}
.car-card__btn-container {
  @apply hidden group-hover:flex bottom-0 w-full z-10 rounded-lg transition-all ease-in duration-500;
}

.normalHeader {
  height: 0;
  position: relative;
  width: 100%;
  top: 0;
  margin: 0 auto;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 2;
  justify-content: space-around;
  align-items: center;
  @apply md:bg-black/[0.6] md:fixed md:h-[115px];
}
.scrolledHeader {
  @apply md:h-[65px];
}
.Container {
  width: min(1160px, 100% - 4rem);
  margin: 10vh auto;
}
.car-row {
  @apply text-gray-600 mb-8 flex items-center justify-center gap-4 md:text-8xl text-6xl uppercase box-content object-scale-down;
}
.carIcon {
  @apply text-3xl;
  align-self: center;
}
.aboutTitle {
  @apply text-8xl md:my-12 md:mx-6 p-7 capitalize;
}
.bfr::before {
  border-left-width: 315px;
}
@media (max-width: 320px) {
  .bfr::before {
    border-left-width: 100vw;
  }
}
@media (min-width: 1600px) {
  .Container {
    width: min(80vw, 100% - 4rem);
  }
}
.SocialsAnimation:hover {
  @apply text-blue-500 duration-200 ease-in-out;
}
